<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/javaee&#8221;"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance&#8221;"
xsi:schemaLocation= "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CadastroServlet</servlet-name>
		<servlet-class>com.servlet.CadastroServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastroServlet</servlet-name>
		<url-pattern>/CadastroServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlteraUsersServlet</servlet-name>
		<servlet-class>com.servlet.AlteraUsersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlteraUsersServlet</servlet-name>
		<url-pattern>/AlteraUsersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApagaUsersServlet</servlet-name>
		<servlet-class>com.servlet.ApagaUsersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApagaUsersServlet</servlet-name>
		<url-pattern>/ApagaUsersServlet</url-pattern>
	</servlet-mapping>
	<display-name>HelloWorld</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
